# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Test results
*.xml
*.html
*.junit.xml

# Environment variables
.env
.env.*

# Poetry-specific
.poetry/
